.login-title {
    color: white;
    font-size: 30px;
}

.form-items {
    background: url("../component/images//login_register/loginbg1.jpg");
    border-radius: 10px;
    height: 50vh;
    margin: 100px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-items>* {
    margin-bottom: 20px;
}

.form-items>div>input {
    width: 200px;
}

.form-items>div>button {
    padding: 10px 90px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
}

.form-items:hover {
    filter: brightness(110%);
}

.form-items>div>button:hover {
    background-color: rgba(0, 0, 0, 0.900);
    transform: scale(1.05);
}

.form-items>div>input:hover {
    transform: scale(1.05);
}