.CoinContainer{
    /* background-color: brown; */
    display: flex;
    padding: 2rem;
    flex-wrap: wrap;
}
.contact{
    background-color: blueviolet;
}
.about{
    background-color: blue;
}
input{
    padding: 0.7rem;
    border: 1px solid rgba(196,196,196 , 0.683);
    outline:none;
    border-radius:5px;
}
form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

}
.pagebutton {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

.pagebutton:hover {
    background-color: #333;
}
.pagecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-left: 20px;

}
.coin{
    padding: 2rem;
    background-color: rgb(236,236,236);
    border-radius: 10px;
    width: 200px;
    height:200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    gap:10px;
    margin: 1rem;
}

.coin >img {
    width:100px;
    height: 100px;
    object-fit: contain;
}
.coin>h1{
    text-transform: uppercase;
    text-overflow: ellipsis;
    max-lines: 1;
    overflow:hidden;
}
.coin>h4{
    text-overflow: ellipsis;
}
.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:80vh;
}
.loading>div{
    height: 100px;
    width: 100px;
    border-bottom: 4px solid rgb(65,65,65);
    border-radius: 50%;
    animation: rotation 0.5s infinite alternate-reverse; 
    margin-bottom: 1em;
}
.exchanges{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-left: 170px;
    margin-right: 160px;
}
.exchangesCard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
}.exchangesCard>a {
    background-color: rgb(255, 255, 255);
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 1px 1px grey ;
    /* -webkit-box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
    -moz-box-shadow: 0.5px 0.5px 0.5px 0.5px grey; */
    border-radius: 4px;
    width: 140px;
    /* Set a fixed width */
    height: 104px;
    /* Set a fixed height */
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}
.exchangesCard>a:hover {
    transform: scale(1.05);
  
}
.exchangesCard>a>img {
    width: 80px;
    object-fit: contain;
    height: 60px;
    margin-bottom: 4px;
}

.exchangesCard>a>h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100px;
    text-transform: uppercase;
}.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-left: 50px;
}

.dropdown-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: #333;
    border: none;
    background-color: white;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
@keyframes rotation {
    to{
        transform:rotatez(360deg);
    }
}

