.title {
    letter-spacing: 5px;
    background: linear-gradient(to right, teal, grey);
    padding: 20px;
}

.title h1 {
    color: white;
    letter-spacing: 5px;
}

.container {
    height: 90vh;
    /* Adjusted height to accommodate the form area */
    background-color: antiquewhite;
    overflow-y: auto;
    /* Added to enable scrolling if content exceeds container height */
}

.chat {
    display: inline-block;
    max-width: 70%;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    clear: both;
}

.left {
    background-color: #dcf8c6;
    float: left;
}

.right {
    background-color: #e5e5ea;
    float: right;
}

.formarea {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 10vh;
    background-color: #dcf8c6;
    padding: 10px;
}

.input-group {
    display: flex;
}

.input-group input {
    flex: 1;
    min-width: 700px;
    margin-right: 20px;
}
.input-group button {
    background-color: #128C7E;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group button:hover {
    background-color: #075E54;
}