.Container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    /* justify-content: center; */
}

.leftr {
    flex: 1;
    margin-right: 5px;
    padding: 10px;
    border: 1px solid #002D62;
    /* background-color: #A7C7E7; */

}

.rightr {
    flex: 2;
    /* background-color: #E0FFFF; */
    margin-left: 5px;
    padding: 10px;
    height: max-content;
    width: max-content;
    border: 1px solid #002D62;
    /* backgroundColor: #F0FFFF; */
    padding: 10px;
}

.bottomr {
    padding: 30px;
}

.pricer {
    font-size: xx-large;
    font-weight: bolder;
}

.butt {
    padding: 10px;
    background-color: #AFDBF5;
    color: #002D62;
    border-radius: 5px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    margin: 10px;
    font-weight: 600;
    border: 1px solid #002244;
    cursor: pointer;
    height: fit-content;
}

.butt1 {
    background-color: #AFDBF5;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #002244;
    padding: 5px;
    /* font-weight: 700; */
    font-family: sans-serif;
    margin-top: auto !important;
    margin-bottom: auto;
    font-size: large;
    height: fit-content;
    margin-left: 4px;
}

.butt:hover {
    scale: 1.2;
    transition-duration: 0.5s;
    opacity: 0.6;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.cent {
    justify-content: center;
}

.flex-cols {
    display: flex;
    flex-direction: column;
}

.bolder {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    /* border-radius: 10px; */
    overflow: hidden;
}

th {
    padding: 0;
    /* padding: 5px; */
    text-align: center;
    /* padding: 5px; */
    text-align: center;
    background-color: #E0FFFF;
    height: 30px;
}

td {
    height: 28px;
    text-align: center;
    /* border: 1px solid gainsboro; */
    /* background-color: aqua; */

}

th:first-child {

    border-top-left-radius: 10px;
}

td:first-child {
    /* border: 1px solid gainsboro; */
    border-bottom-left-radius: 10px;
}

th:last-child {

    border-top-right-radius: 10px;
}

td:last-child {
    border-bottom-right-radius: 10px;
}