.navbar {
    background: linear-gradient(to right, #3498db, #1abc9c);
    display: flex;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.navbar>* {
    font-size: large;
    margin-right: 12px;
    text-decoration: none;
    transition: color 0.5s ease, transform 0.5s ease;
    position: relative;
}

.navbar>*:first-child {
    margin-left: 10px;
}

.navbar> :nth-last-child(2) {
    margin-left:880px;
}

.navbar> :last-child {
    margin-left: auto;
}
.navbar>*:hover {
    color: #ecf0f1;
    transform: scale(1.1);
}
.navbar>*:hover::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ecf0f1, #ecf0f1);
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.navbar>*:hover::before {
    opacity: 1;
}