* {
    margin: 0;
    padding: 0;
}

/* CSS reset to remove underlines */
a {
    text-decoration: none;
}

#header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 25px 80px;
    background-color: #020715;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    transition: 0.6;
    margin-bottom: 10px;
}

.logo h1 {
    margin: 0;
    color: white;
    font-size: 32px;
}

.logo span {
    color: gold;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 70%;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
    transition: 0.6s;
}

#navbar li a {
    color: white;
    font-size: 18px;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: gold
}

#navbar a.active::after,
#navbar li a:hover::after {

    content: "";
    width: 30%;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -4px;
    left: 20px;
}