.FloatingLogo{
    position: fixed;
    height: 10vh;
    bottom:40px;
    right: 20px;
    z-index: 999;
    filter: brightness(110%);
}
.FloatingLogo2{
    position: fixed;
    z-index: 999;
    filter: brightness(110%);
    right: 7%;
    height: 8vh;
    bottom: 45px;
}
.FloatingLogo {
    transition: all 0.3s ease-in-out;
}
.FloatingLogo:hover {
    transform: scale(1.1);
    filter: brightness(150%);
}
.FloatingLogo-text {
    position: fixed;
    bottom: 15%;
    right: 40px;
    padding: 10px;
    transform: translate(-50%, -50%);
    color: white;
    background-color:grey;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    opacity: 0;
    cursor:default;
    transition: opacity 0.3s ease-in-out;
}

.FloatingLogo-container:hover .FloatingLogo-text {
    opacity: 1;
}

@media (max-width: 768px) {
    .FloatingLogo2 {
        right:25%;
        z-index: 999;
        filter: brightness(110%);
    }
}